@import "../../../styles/colors.css";
@import '../../../styles/mediaQueries.css';

.landing-section {
  position: relative;
  top: 0px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-size: cover;
}
